################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core-3-jwt-authentication-api/.config
aspnet-core-3-jwt-authentication-api/.vs/WebApi/DesignTimeBuild/.dtbcache.v2
aspnet-core-3-jwt-authentication-api/.vs/WebApi/v16/.suo
aspnet-core-3-jwt-authentication-api/.vs/WebApi/v16/.suo
aspnet-core-3-jwt-authentication-api/.vs/WebApi/DesignTimeBuild/.dtbcache.v2
.vscode/launch.json
.vscode/tasks.json
aspnet-core-3-jwt-authentication-api/.vs/WebApi/v16/.suo
aspnet-core-3-jwt-authentication-api/.vs/WebApi/DesignTimeBuild/.dtbcache.v2
