################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core-3-jwt-authentication-api/.config
